.calc-container{
    max-width: 500px;
    margin: 10vh auto 0 auto;
    box-shadow: 0 0 2rem 1rem #a2bbcf;
}
#display{
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    padding: 1rem 0.5rem;
    font-size: 2rem;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #142f44;
    border-left: 1px solid #142f44;
}
.buttons > div{
    border-top: 1px solid #1d3849;
    border-right: 1px solid #1d3849;
}
.buttons{
    border: #a2bbcf 0.4px solid;
    line-height: 6rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}
#equal{
    background-color: #205b7a;
    color: #a2bbcf;
}
.button:hover{
    background-color: #000000;
    color: #fff;
    transition: 0.5s ease-in-out;
}